[package]
name = "container-ci-hotplug"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = { version = "1", features = ["backtrace"] }
log = "0.4"
env_logger = "0.9"
clap = { version = "4", features = ["default", "derive", "unicode", "wrap_help"] }
clap-verbosity-flag = "2"
humantime = "2"
libc = "0.2"
bytes = "1"
raw_tty = "0.1"
atty = "0.2"
usb-ids = "0.2"
tokio = { version = "1", features = ["full"] }
tokio-stream = "0.1"
tokio-util = { version = "0.7", features = ["full"] }
tokio-fd = "0.3"
async-stream = "0.3"
async-trait = "0.1"
termsize = "0.1"
unescape = "0.1"
futures-core = "0.3"
udev = { git="https://github.com/jprendes/udev-rs.git", features = ["send"] }
bollard = "0.13"
futures = "0.3"
